{% extends "base.html" %}
{% load i18n %}

{% block left_sidebar %} {% include "left_sidebar.html" %} {% endblock %}
{% block right_sidebar %} {% include "right_sidebar.html" %} {% endblock %}


{% block content %}
    <p>{% trans "Забыли свой пароль? Укажите свой e-mail адрес ниже, и мы отправим Вам инструкции по восстановлению." %}</p>

    <br/>    

    <form action="" method="post">{% csrf_token %}
     {{ form.email.errors }}
    <p>
        <label for="id_email">E-mail:</label> {{ form.email }}
        <input type="submit" value="{% trans "Восстановить" %}" />
    </p>
</form>
{% endblock %}