{% load i18n %}{% blocktrans %}{{ mr_or_mrs }},
<p>
Добро пожаловать в мир WORLD IMMOTRADE!
</p>
<p>
Благодарим за регистрацию на нашем сайте. Теперь Вы можете пользоваться<br/>
всеми преимуществами зарегистрированных пользователей:
</p>
<p>
- пользоваться Вашим личным кабинетом;<br/>
- сохранять в личном кабинете понравившиеся объекты недвижимости;<br/>
- сохранять критерии поиска;<br/>
- получать уведомления о добавленных в систему объектах, соответствующих Вашим критериям поиска;<br/>
- удобно связываться с зарегистрированными агентами по недвижимости;<br/>
- получать новостную рассылку нашего сайта.<br/>
</p>
<p>
Данные входа в Ваш личный кабинет:<br/><br/>

<p>
Логин: {{ email }}<br/>
Пароль: (не отображается)
</p>

<p>
Будем рады ответить на Ваши вопросы и принять Ваши предложения по адресу<br/>
info@worldimmotrade.com<br/>
</p>

<p>
С вопросами по работе сайта обращайтесь по адресу<br/>
support@worldimmotrade.com<br/>
</p>

<p>
Желаем Вам успехов!
</p>

<p>
Команда WORLD IMMOTRADE
</p>
{% endblocktrans %}