{% extends 'base.html' %}

{% block left_sidebar %} {% include "left_sidebar_search.html" %} {% endblock %}
{% block right_sidebar %} {% include "right_sidebar.html" %} {% endblock %}

{% block content %}
    <p>You can create several appartments at once using xml. Please choose your xml and click 'Load' button</p>
    <br>
    <form method="post" action="" enctype="multipart/form-data" id="appartments_xml_load">
        {% csrf_token %}
        <input type="file" name="xml_file">
        <input type="submit" value="Load">
    </form>
    <hr>
    {% if errors|length %}
        <div style="color:red;margin-bottom:10px;">
            {% for e in errors %}
                {{ e }}<br/>
            {% endfor %}
        </div>
    {% endif %}

    {% if uploaded %}
        Total appartments found: {{ total }}<br>
        Load appartments: {{ loaded }}<br>
        Invalid appartments: {{ invalid }}<br>
    {% endif %}
{% endblock %}